<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>WiLL Mailで効率的にメルマガ配信する10のヒント</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <p>150th開成祭 メルマガに登録いただきありがとうございます。</p>
    <p>コンテンツの新設等、新情報を随時お知らせして参ります。今後とも150th開成祭をよろしくお願いいたします。</p>

    -------------------------------------------
    <p>メルマガ登録解除は<a href="http://127.0.0.1:8000/api/subscribe/cancel">こちら</a></p>
    <address>150th開成祭 文化祭準備委員会広報係 ホームページ担当</address>
</body>