{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% block title %}待ち時間を更新{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'Sandans/waittime_update.css' %}">
<main>
    <div class="form-card col-xs-6 col-md-4 p-3 mx-auto mt-md-3">
        <div class="d-flex justify-content-between flex-column flex-lg-row mb-3">
            <p>&lt; <a href="{% url 'Sandans:login' %}">別の参団でログインする</a></p>
            {% if not alert %}
            <p style="color: rgba(0, 0, 0, 0.5);">最終更新：{{request.user.last_updated|naturaltime}}</p>
            {% else %}
            <p class="text-danger">⚠︎ 最終更新：{{request.user.last_updated|naturaltime}}</p>
            {% endif %}
        </div>
        <h2>{{request.user.first_name}}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label">現在の待ち時間</label>
                {% render_field form.waittime class="form-control" placeholder="更新" %}
                <p style="display: block;text-align: right;font-size: 3rem;">分</p>
                {% for error in form.name.errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            </div>
            <div style="text-align: right;">
                <button class="btn btn-outline-dark" type="submit">更新</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}