@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap');

body{
    background-color: #f0f0f3;
    font-family: "Manrope","Noto Sans JP",sans-serif;
}

header div{
    background-color: white;
    border-bottom: 1px solid #f0f0f3;
}

.messages{
    list-style: none;
    padding-left: 0;
}

.form-card{
    background-color: white;
}